<html>
    <head>
      <title>Home</title>
    </head>
    <body>
      <h1 align='center'>Welcome to Simple School with ExpressJS</h1>
      <p align='center'>
        <a href="/teachers">Teachers</a>
        <a href="/subjects">Subjects</a>
        <a href="/students">Students</a>
      </p>
    </body>
  </html>