<!DOCTYPE html>
<html lang="en">
    <%- include partial/head %>
    <body>
        <h1>Please Login</h1>
          <form class="" action="/login" method="post">
            <input type="text" name="username" value="" placeholder="type username">
            <input type="password" name="password" value="" placeholder="type password">
            <input type="submit" value="Login" >
          </form>
      </body>
</html>