<!DOCTYPE html>
<html>
  <head>
    <title>ADD STUDENTS DATA</title>
  </head>
  <body>
    <h1>Add Students Data</h1>
    <hr>
    <a href="/"> Back To Home </a>
    <br><br>
    <a href="/students">show all data</a>
    <br>
    <form class="" action="/students/add" method="POST">
    <p> First Name
        <br>
      <input type="text" name="first_name" value="" placeholder="First Name">
    </p>
    <p> Last Name
        <br>
      <input type="text" name="last_name" value="" placeholder="Last Name">
    </p>
    <p> Email
        <br>
      <input type="email" name="email" value="" placeholder="email@gmail.com">
    </p>
      <input type="submit" value="Add Student">
    </form>
  </body>
</html>